@keyframes myCoolAnimation {
    0% {
        width: 100px;
    }
    25% {
        width: 20px;
    }

    50%{
        width: 400px;
    }

    75% {
        width: 20px;
    }

    100%{
        width: 100px;
    }
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: bisque;
}

header{
    display: grid;
    justify-items: center;
}
header > img{
    height: 10vh;
    
}

header > img:hover{
    animation: myCoolAnimation 2s ease-in-out infinite;
}
header > a {
    font-size: 1.5em;
    text-decoration: none;
    color: gray;
    background-color: floralwhite;
    transition: font-size 0.25s linear;
}

header > a:hover{
    font-size: 2em;
}

main{
    display: grid;
    justify-items: center;
}

main > h1{
    color: black;
    transition: color 1s ease-in-out;
}

main > h1:active{
    color : orange;
}

main > p {
    text-align: center;
}

main > img{
    width: 100vw;
}

footer{
    display: grid;
    justify-items: center;
}

footer img{
    height: 25px;
}

@media only screen and (min-width: 700px) {

    main{
        grid-template-columns: 1fr 1fr;
    }
    main > img {
        width: 50vw;
    }
    main > h1 {
        grid-column: 1/3;
    }
    main > img {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
    }

    footer{
        grid-template-columns: repeat(2, 1fr);
    }
    footer > nav{
        grid-column: 1/3;
    }
    
}